@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,600");

body {
  font-family: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
  outline: none;
}

ul {
  list-style: none;
}

video {
  display: none;
}
